{% extends 'base.html.twig' %}

{% block article %}
    <div class="">
        {{ form_start(search, {'attr': {'class': 'form-inline'}}) }}
            <div class="">
                {{ form_row(search.date, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="">
                {{ form_row(search.region, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="">
                {{ form_row(search.class, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="">
                {{ form_row(search.name, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="">
                <button type="submit" class="btn btn-primary" style="font-size: 0.8rem">Пошук<i class="fas fa-search"></i></button>
            </div>
            <div class="">
                <button type="button" class="btn btn-success" style="font-size: 0.8rem;">
                    <a href="{{ path('admin_competitions_new') }}" style="color: #FFFFFF">
                        Створити
                        <i class="fas fa-plus"></i>
                    </a>
                </button>
            </div>
        {{ form_end(search) }}

        <br>

        {% for entity in competitions %}
            <div class="cell grid-x grid-padding-x">
                <div class="small-1 date-box" style="border-right: 1px solid #0a0a0a">
                    <div class="h3" style="margin: 0px">{{ entity.date|date('d.m') }}</div>
                    <div class="small-3 text-center" style="margin: 0px">{{ entity.date|date('Y') }}</div>
                </div>
                <div class="cell small-11">
                    <a class="grid-margin-y" href="{{ path('competitions_show', {'id' : entity.id}) }}">
                        <p class="h3" style="margin: 0px">{{ entity.name }}</p>
                    </a>
                    <div class="grid-x grid-margin-y">
                        <div class="cell small-3 subheader">{{ entity.region.name }}</div>
                        <span class="cell small-3 subheader">Клас: {{ entity.formattedClasses }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}