{% extends 'base.html.twig' %}

{% block article %}
    <div>
        {% if app.user and competition.author is same as(app.user) %}
            <div class="mb-4 text-right">
                <a href="{{ path('profile_competitions_edit', {'id': competition.id}) }}">Редагувати</a>
            </div>
        {% endif %}

        <div class="mb-3">
            <span class="h2 mb-1 text-dark">{{ competition.name }}</span>
            <div class="text-muted">
                <span class="d-inline-block">{{ competition.date|date('d.m.Y') }} &bull;</span>
                <span class="d-inline-block">{{ competition.region.name }}</span>
            </div>
        </div>

        <div class="mb-3">
            <ul>
                {% for distance in competition.distances %}
                    <li class="h5"><a href="{{ path('distances_show', {'id': distance.id}) }}">{{ distance.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="mb-5">
            {{ competition.description|raw}}
        </div>

        <div class="mb-5">
            <h3>Файли</h3>
            {% if competition.attachments|length %}
                {% for attachment in competition.attachments %}
                    <div class="mb-1">
                        <div class="row align-items-center">
                            <div class="col-auto pr-0">
                                <a href="{{ path('attachment_download', {'id': attachment.id}) }}" class="btn btn-primary">
                                    <i class="fas fa-download"></i>
                                </a>
                            </div>
                            <div class="col-auto mw-75" style="max-width: 75%">{{ attachment.name ~ '.' ~ attachment.extension }}</div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="text-center text-muted">
                    Не додано жодного файлу.
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
