{% extends 'base.html.twig' %}

{% macro renderComment(comment) %}
{% import _self as macros %}
    <div class="media-body mb-3">
        <span class="">email@gmail.com</span>
        <div class="mb-3">
            {{ comment.text }}
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
        <div class="ml-5">
            {% if comment.children|length %}
                {% for child in comment.children %}
                    {{ macros.renderComment(child) }}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% import _self as macros %}

{% block article %}
    <div class="">
        <div class="mb-5">
            <span class="h2 mb-1 text-dark" style="">{{ competition.name }}</span>
            <div class="text-muted">
                <span class="d-inline-block">{{ competition.date|date('d.m.Y') }} &bull;</span>
                <span class="d-inline-block">{{ competition.region.name }} &bull;</span>
                <span class="d-inline-block">Клас: {{ competition.formattedClasses }}</span>
            </div>
        </div>

        <div class="">
            {{ competition.description}}
        </div>

        <div class="" style="">
            <h3>Документи</h3>
            <div class="grid-y">
                {% for attachment in competition.attachments %}
                    <div class="">
                        <a href="{{ attachment.path }}">
                            <a href="#" class="">
                                <i class="fas fa-download fa-2x"></i>
                            </a>
                            <button class="" style="text-align: left; border-radius: 0; border-left-width: 0">
                                {{ attachment.path }}
                            </button>
                        </a>
                    </div>
                {% endfor %}
            </div>

        </div>

        <div class="">
            <h3>Коментарі</h3>

            {% for comment in comments %}
                {{ macros.renderComment(comment) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}