{% extends 'base.html.twig' %}

{% set description = "Ресурс для уніфікації, централізованного управління, зберігання і поширення данних про змагання з техніки пішохідного туризму (ТПТ) в Україні як регіонального, так і всеукрїнського значення. Призначений для полегшення процессу поширення інформації та доступу до таких змагань." %}

{% block meta_description %}{{ description }}{% endblock %}
{% block og_description %}{{ description }}{% endblock %}
{% block twitter_description %}{{ description }}{% endblock %}

{% block article %}
    <div class="alert alert-danger text-center" role="alert">
        Сайт знаходиться в тестовому режимі. Всі дані будуть видалені після переходу в основний режим. 1
    </div>

    <div class="jumbotron jumbotron-fluid mb-5">
        <div class="container text-center">
            <h1 class="display-4">База змагань зі спортивного туризму України</h1>
            <p class="lead">{{ description }}</p>
        </div>
    </div>

    <div class="">
        {{ form_start(search, {'attr': {'class': ''}}) }}
        <div class="row mb-3">
            <div class="col-md-7">
                <div class="form-group">
                    {{ form_row(search.name, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    {{ form_row(search.region, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block btn-lg" style="font-size: 0.8rem">Пошук</button>
                </div>
            </div>
        </div>
        {{ form_end(search) }}
    </div>

    {% if competitions|length %}
        {% for competition in competitions %}
            <div class="mb-5">
                <div class="">
                    <a class="h2 mb-1 text-dark" href="{{ path('competitions_show', {'id' : competition.id}) }}">
                        <span class="" style="">{{ competition.name }}</span>
                    </a>
                </div>
                <div class="text-muted">
                    <span class="d-inline-block">{{ competition.date|date('d.m.Y') }} &bull;</span>
                    <span class="d-inline-block">{{ competition.region.name }}</span>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="text-center text-muted mb-5">Не додано жодного змагання.</div>
    {% endif %}

    <div class="mb-5">
        <ul class="pagination justify-content-center">
            {% set page = app.request.get('page')|default(1) %}
            {% if page <= 1 %}
                {% set laterClass = 'disabled' %}
                {% set laterHref = '#' %}
            {% endif %}
            {% if competitions|length < constant('App\\Entity\\Competition::PER_PAGE') %}
                {% set earlyClass = 'disabled' %}
                {% set earlyHref = '#' %}
            {% endif %}

            <li class="page-item {{ laterClass|default('') }}">
                <a class="page-link" href="{{ laterHref|default(path('competitions_list_paging', {'page': page - 1})) }}" aria-disabled="true">Пізніше</a>
            </li>

            <li class="page-item {{ earlyClass|default('') }}">
                <a class="page-link" href="{{ earlyHref|default(path('competitions_list_paging', {'page': page + 1})) }}" aria-disabled="true">Раніше</a>
            </li>
        </ul>
    </div>
{% endblock %}
