{% extends 'base.html.twig' %}

{% block article %}
    {% for competition in competitions %}
        <div class="mb-5">
            <div class="">
                <a class="h2 mb-1 text-dark" href="{{ path('admin_competitions_edit', {'id' : competition.id}) }}">
                    <span class="" style="">{{ competition.name }}</span>
                </a>
            </div>
            <div class="text-muted">
                <span class="d-inline-block">{{ competition.date|date('d.m.Y') }} &bull;</span>
                <span class="d-inline-block">{{ competition.region.name }} &bull;</span>
                <span class="d-inline-block">Клас: {{ competition.formattedClasses }}</span>
            </div>
        </div>
    {% endfor %}
{% endblock %}