{% extends 'base.html.twig' %}

{% block article %}
    <div>
        <div class="mb-5">
            <span class="h2 mb-1 text-dark">
                <a href="{{ path('competitions_show', {'id': distance.competition.id}) }}" class="text-dark">
                    {{ distance.competition.name }}
                </a>&nbsp;<i class="fas fa-angle-right"></i>&nbsp;{{ distance.name }}
            </span>
            <div class="text-muted">
                <span class="d-inline-block">{{ distance.date|date('d.m.Y') }}</span>
            </div>
        </div>

        <div class="mb-5">
            {{ distance.description|raw}}
        </div>

        <div class="mb-5">
            <h3>Файли</h3>
            {% if distance.attachments|length %}
                {% for attachment in distance.attachments %}
                    <div class="mb-1">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <a href="{{ path('attachment_download', {'id': attachment.id}) }}" class="btn btn-primary">
                                    <i class="fas fa-download"></i>
                                </a>
                            </div>
                            <div class="col-auto">{{ attachment.name ~ '.' ~ attachment.extension }}</div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="text-center">
                    Пусто
                </div>
            {% endif %}
        </div>

        <div>
            <h3>Коментарі</h3>
                <div
                    id="comment-section"
                    data-comment-list-url="{{ path("comments_list", {'distanceId': app.request.get('id')}) }}"
                    data-comment-save-url="{{ path("comments_save", {'distanceId': app.request.get('id')}) }}"
                    data-user-email="{{ app.user.email|default('') }}">
                </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('vue-comment') }}
{% endblock %}