{% extends 'base.html.twig' %}

{% macro renderComment(comment) %}
    {% import _self as macros %}
    <div class="media-body mb-3">
        <span class="">email@gmail.com</span>
        <div class="mb-3">
            {{ comment.text }}
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
        <div class="ml-5">
            {% if comment.children|length %}
                {% for child in comment.children %}
                    {{ macros.renderComment(child) }}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% import _self as macros %}

{% block article %}
    <div class="">
        <div class="mb-5">
            <span class="h2 mb-1 text-dark" style="">
                <a href="{{ path('competitions_show', {'id': distance.competition.id}) }}" class="text-dark">
                    {{ distance.competition.name }}
                </a>&nbsp;<i class="fas fa-angle-right"></i>&nbsp;{{ distance.name }}
            </span>
            <div class="text-muted">
                <span class="d-inline-block">{{ distance.date|date('d.m.Y') }}</span>
            </div>
        </div>

        <div class="mb-5">
            {{ distance.description|raw}}
        </div>

        <div class="mb-5" style="">
            <h3>Файли</h3>
            {% if distance.attachments|length %}
                {% for attachment in distance.attachments %}
                    <div class="mb-1">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <a href="{{ attachment.path }}" class="btn btn-primary">
                                    <i class="fas fa-download"></i>
                                </a>
                            </div>
                            <div class="col-auto">{{ attachment.path }}</div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="text-center">
                    Пусто
                </div>
            {% endif %}
        </div>

        <div class="">
            <h3>Коментарі</h3>
{#            {% if not distance.comments|length %}#}
                <div id="comment-section">
                </div>
{#                {% for comment in distance.comments %}#}
{#                    {{ macros.renderComment(comment) }}#}
{#                {% endfor %}#}
{#            {% else %}#}
{#                <div class="text-center text-muted">Пусто</div>#}
{#            {% endif %}#}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('vue-comment') }}
{% endblock %}